.navbar{
    padding: 10px;
    margin:auto;
    margin-top:10px;
    width: 80%;


}
.nav-item{
    margin-left:auto;
    margin-right:auto;

}

.contenido{

    width:80%;
    margin: auto;
    margin-top:40px;
}

.airbnb{
    width:30%;
    margin:auto;
    margin-top:40px;
}


